<%- include('partials/header'); -%>

<div class="container-fluid container-fluid-padding">
    <form action="/compose" method="post">
    
        <div class="mb-3">
          <label for="topic" class="form-label">Topic</label>
          <input type="text" class="form-control" id="" name="topic" placeholder="English for everyone">
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">topicIntro</label>
          <textarea class="form-control" id="" name="topicIntro" rows="3"></textarea>
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="" name="title" placeholder="How I get started">
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">Content</label>
          <textarea class="form-control" id="" name="content" rows="6"></textarea>
        </div>
        <div class="mb-3">
          <label for="files" class="form-label">File name</label>
          <input class="form-control" type="file" id="" name="imgFiles">
        </div>
        <button class="mb-3 btn btn-primary btn-lg" type="submit">Post</button>
    </form>
</div>

<%- include('partials/footer'); -%>
